@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Manrope:wght@500;700&display=swap');

/*************************************/ 
/************** GENERAL **************/
/*************************************/ 

* {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

:root {

  font-size: 10px;
  font-family: 'Lora', serif;

    /* Colors */
    --blue: #1d71f2;
    --button-blue: #1c9cf6;
    --disc-blue: #19c3fb;
    --bubbles: #e3f4fe;
    --cornsilk: #fffae0;
    --tangerine: #ffcd00;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

main {
  min-width: 70rem;
  min-height: 0rem;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
}

/*************************************/ 
/************** HEADER ***************/
/*************************************/ 

.header {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

/*************************************/ 
/*************** FORM ****************/
/*************************************/ 

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

input {
  height: 3.5rem;
  width: 30rem;
}

button {
  height: 3.5rem;
  width: 10rem;
  margin-left: 2rem;
}

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}