@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Manrope:wght@500;700&display=swap');

/*************************************/ 
/************** GENERAL **************/
/*************************************/ 

* {
  margin: 0;
  padding: 0;
/*   outline: 1px solid red;
 */}

:root {

  font-size: 10px;
  font-family: 'Lora', serif;

    /* Colors */
    --green-mountain: #3d7c47;
    --blue-mountain: #09868b;
    --light-blue: #76c1d4;
    --barely-gray: #f7f7f7;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--barely-gray);
}

main {
  min-width: 70rem;
  min-height: 0rem;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  background-color: white;
  border-radius: 24px;
}

/*************************************/ 
/************** HEADER ***************/
/*************************************/ 

.header {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

/*************************************/ 
/*************** FORM ****************/
/*************************************/ 

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

input {
  height: 3.5rem;
  width: 30rem;
}

button {
  height: 3.5rem;
  width: 10rem;
  margin-left: 2rem;
}

/*************************************/ 
/************** SECTION **************/
/*************************************/ 

section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.city-name {
  font-size: 4rem;
  font-weight: 700;
}

.current-weather-container {
  display: flex;
  font-size: 3rem;
}

.additional-info {
  max-width: 700px;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.additional-info * {
  margin: 0.5rem;
}

.current-time {
  font-size: 2rem;
}

.additional-info > p {
  background-color: var(--light-blue);
  padding: 0.5rem 2rem;
  border-radius: 16px;
  max-height: 4rem;
}